[general]
quiet          = False
log-level      = info

[search]
show-authors   = False
show-type      = False
show-publisher = False
show-url       = False

sort           = score
order          = desc
rows           = 20

[cite]
style          = bibtex
copy           = False
color          = False
color-doi      = red
color-title    = green
color-more     = blue

[download]
destination    = ~/Downloads/DOIs
#format        = pdf
